# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff
*.sqlite3
*.log
*.pot

# Migrations
**/migrations/
!**/migrations/__init__.py

# VSCode / IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
